* {
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  margin: 0;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form{
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: #CCC;
  border-radius: 6px;
  box-shadow: 0px 10px 20px #555;
}

button {
  padding: 6px;
  background-color: transparent;

  border: 2px solid black;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
}

button:hover{
  box-shadow: 0px 2px 10px black;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

h1 em {
  font-style: unset;
  font-size: 44px;
}

.input-group{
  display: flex;
  flex-direction: column;
}

.input-group label{
  margin-bottom: 2px;
  font-size: 14px;
}

.input-group input {
  padding: 6px 8px;
  min-width: 300px;

  font-size: 16px;
  border: 1px solid whitesmoke;
  border-radius: 4px;
}

